<h1><font color="blue">(2일차) 내장 함수</font></h1>

<h4><font color="red">abs,sum함수.</font></h4>

In [26]:
# 요소들의 절대 값은 3제곱의 총합에 루트 씌우기
mylist = [2, -5, 4] # 루트(8 + 125 + 64)
newlist01 = [abs(su) for su in mylist]
newlist02 = [su**3 for su in newlist01]
newlist03 = sum(newlist02)**0.5 #**0.5는 루트 씌우기
newlist03

14.035668847618199

<h4><font color="red">sorted 함수.</font></h4>

In [16]:
humans = ['김훈식','이은규','박진영','심수철']
result = sorted(humans) # order by asc in database
result

['김훈식', '박진영', '심수철', '이은규']

In [18]:
result = sorted(humans, reverse = True) # order by desc in database
result

['이은규', '심수철', '박진영', '김훈식']

In [5]:
students = {'박진솔':75,'김성경':80,'김정우':60,'이명균':90}
students

{'박진솔': 75, '김성경': 80, '김정우': 60, '이명균': 90}

In [6]:
chartdata = sorted(students)
chartdata # 사전의 key를 기반으로 오름차순 정렬이 됨

['김성경', '김정우', '박진솔', '이명균']

In [7]:
chartdata = sorted(students, key = students.get)
chartdata # key 매개 변수에 근거하되, 보여주는 것은 사전의 key값임

['김정우', '박진솔', '김성경', '이명균']

In [8]:
chartdata = sorted(students.keys() , key = students.get)
chartdata

['김정우', '박진솔', '김성경', '이명균']

In [10]:
chartdata = sorted(students, key = students.get, reverse = True)
chartdata # reverse=True에 의하여 내림차순으로 정렬 됨

['이명균', '김성경', '박진솔', '김정우']

In [13]:
chartdata = sorted(students.values() , reverse = True)
chartdata # 값을 가지고 역순으로 정렬

[90, 80, 75, 60]

<h4><font color="red">zip() 함수.</font></h4>

In [27]:
names = ['김현도','유지강','최윤희']
ages = [10, 30, 20]
address = ['마포','금천','용산']

In [28]:
print('tuple 인덱싱 활용')
for item in zip(names, ages, address):
    message = '이름 : {}, 나이 : {}, 주소 : {}'
    print(message.format(item[0],item[1],item[2]))

tuple 인덱싱 활용
이름 : 김현도, 나이 : 10, 주소 : 마포
이름 : 유지강, 나이 : 30, 주소 : 금천
이름 : 최윤희, 나이 : 20, 주소 : 용산

In [25]:
print('for 구문에 변수 이름 직접 작성')
for names, ages, address in zip(names, ages, address):
    message = '이름 : {}, 나이 : {}, 주소 : {}'
    print(message.format(names, ages, address))

for 구문에 변수 이름 직접 작성
이름 : 김현도, 나이 : 10, 주소 : 마포
이름 : 유지강, 나이 : 30, 주소 : 금천
이름 : 최윤희, 나이 : 20, 주소 : 용산

In [24]:
a = ['김현도','유지강','최윤희']
b = [10, 30, 20]
c = ['마포','금천','용산']

x = zip(a,b,c)
print(tuple(x))

(('김현도', 10, '마포'), ('유지강', 30, '금천'), ('최윤희', 20, '용산'))

<h1><font color="blue">(3일차) 클래스</font></h1>

<h4><font color="red">사칙 연산.</font></h4>