<h1><font color="blue">데이터 타입과 입출력</font></h1>

<h4><font color="red">(1일차)입출력 함수 사용하기.</font></h4>

In [ ]:
# 이름과 나이를 입력 받고, 5년 뒤의 나이를 출력하는 프로그램을 작성하세요.

In [ ]:
name = input('이름 입력 : ')
age = int(input('나이 입력 : '))

In [ ]:
passyear = 5
message = '{}님의 {}년 뒤 나이는 {}세 입니다.'
print(message.format(name,passyear,(passyear + age)))

In [ ]:
# 상품의 이름과 가격 및 할인율을 입력 받으세요.
# 이름 및 원가 및 할인된 금액을 출력해 보세요.

In [ ]:
name = input('품목 : ')
price = int(input('가격 : '))
discount = float(input('할인율 : '))

In [ ]:
message = '품목 : {}, 가격 : {}, 할인된 가격 : {}'
print(message.format(name, format(price, ','), (price * discount)))

In [ ]:
# 정수 1개를 입력 받고, 3의 배수인지 아닌지를 판단해 보세요.

In [ ]:
jungsu = int(input('정수 1개 입력 : '))

In [ ]:
if jungsu%3 == 0 :
    result = '3의 배수입니다.'
else :
    result = '3의 배수가 아닙니다.'

In [ ]:
message = '정수 {}는 {}'
print(message.format(jungsu,result))

In [ ]:
# 이름과 급여를 입력 받고, 연봉이 어느 등급인지 판단해 보세요.
# 연봉 = 급여 * 12
# 연봉이 5000원 이상이면 'A',3000원 이상이면 'B', 3000원 미만이면 'C'로 분류해 보세요.

In [ ]:
name = input('이름을 입력 하세요. : ')
salary = int(input('급여를 입력 하세요. :'))
an_salary = 12 * salary

In [ ]:
if an_salary >= 5000 :
    grade = 'A'
elif an_salary >= 3000 :
    grade = 'B'
else :
    grade = 'C'

In [ ]:
message = '{}님의 연봉은 {}만원이며, 연봉은 {}등급 입니다.'
print(message.format(name, format(an_salary,',<h1><font color="blue">데이터 타입과 입출력</font></h1>

<h4><font color="red">입출력 함수 사용하기.</font></h4>'), grade))

<h1><font color="blue">집합 자료형</font></h1>

<h4><font color="red">(1일차)리스트 실습.</font></h4>

In [ ]:
# + 기호를 사용하면 list를 합칠 수 있습니다.
# 인덱스값을 3으로 나누었을 때 나머지가 1인 요소들만 출력해 보세요.
list_a = ['최용대','신성현','이원조']
list_b = ['윤미래','강나리','황진수']

list = list_a + list_b
print(list)

In [ ]:
print(type(list))

In [ ]:
print(list[1::3])

In [ ]:
# 다음 사전에서 '영어'를 제외한 시험 점수들의 총합을 구해 보세요.
dictionary = {'kor':85, 'eng':70, 'math':50}

In [ ]:
total = 0
for key in dictionary.keys():
    if key != 'eng':
        total += dictionary[key]
        
print('총합 : %d' % (total))

<h4><font color="red">(1일차)튜플 실습.</font></h4>

In [ ]:
# 다음 데이터를 사전으로 변경해 보세요.
fruits = [('딸기',10),('토마토',20),('오렌지',30)]

# 최종 결과 : dictionary = {'딸기',10,'토마토',20,'오렌지',30}

In [ ]:


message = 'dictionary = '
for (key,value) in list.items():
    print(format.(message.format(key, value)))

In [ ]:
print('item() 메소드는 key와 values를 한번에 보여 줍니다.')
message = '과목 {}의 점수 : {}'

for (key, value) in dictionary.items():
    print(message.format(key, value))

<h1><font color="blue">(2일차) 반복문</font></h1>

<h4><font color="red">(2일차)문자열 실습.</font></h4>

In [ ]:
# To live or die, that is the question
# 3의 배수일 때만 대문자로 바꾸고, answkdufdmf rufgkqgkf Eo @로 연결해 보세요

In [ ]:
mystring = 'To live or die that is the question'
mystring

In [ ]:
mylist = mystring.split()
print(type(mylist))
mylist

In [ ]:
for idx in range(len(mylist)):
    if idx % 3 == 0:
        mylist[idx] = mylist[idx].upper()
    else :
        mylist[idx] = mylist[idx].lower()

mylist

In [ ]:
result = '@'.join(mylist)
result

In [ ]:
for idx in range(len(mylist)):
    if idx % 3 == 0 :
        mylist[idx] = mylist[idx].upper()
    elif idx % 3 == 1:
        mylist[idx] = mylist[idx].capitalize()
    else :
        mylist[idx] = mylist[idx].lower()
        
mylist

<h4><font color="red">List comprehension.</font></h4>

In [ ]:
# 75점 이상만 추출해 보세요.
jumsu = [75,80,60,55,90,70]
newJumsu = [val for val in jumsu if val >= 75]
newJumsu

<h4><font color="red">Dict comprehension.</font></h4>

In [ ]:
# 다음을 이용하여 사전을 만들어 보세요.
students = ['박진솔','김성경','이정상','김정우']
jumsu = [90, 80, 70, 60]

newDict = {key : value for key, value in zip(students, jumsu)}
newDict

In [ ]:
# 다음을 이용하여 75점 이상인 사람만 추출하여 사전을 만들어 보세요.
students = ['박진솔','김성경','이정상','김정우']
jumsu = [90, 80, 70, 60]

newDict = {key : value for key, value in zip(students, jumsu) if value >= 75}
newDict

In [1]:
# bottle = 5로 변경후, 입금한 금액 만큼 한번에 여러잔 판매 가능 하도록 변경해 보세요.

In [2]:
product = '우유'
bottle = 5
price = 1000
discount = 100

print(' %s 판매 가능 수량 : %d' % (product, bottle))
print(' 단가 : %d' % (price))

while True:
    money = int(input('돈을 넣어 주세요 :'))
    
    # 프로그래밍에서 0은 거짓 , 0이 아니면 참 입니다.
    hasMyCup = bool(int(input('개인 컵이 있나요? (있음(1), 없음(0)) :')))
    
    if money == price :
        print('%s 1병을 판매를 합니다.' % (product))
        bottle -= 1
        if hasMyCup :
            change = discount
            print('%d을 손님에게 거슬러 줍니다.' % (change))
        
    elif money > price :
        mybottle = int(money/price) # 내가 구매할 수 있는 병 개수
        
        if mybottle > bottle :
            mybottle = bottle
            
        print('%s %d병을 판매를 합니다.' % (product,mybottle))
        bottle -= mybottle
        
        # 거스름돈 = 낸돈 - 구매한 병 개수 * 단가
        change = money - mybottle * price
        
        if hasMyCup :
            change += discount
        print('%d을 손님에게 거슬러 줍니다.' % (change))
        
    else :
         print('금액이 부족하여 %s를 판매할 수 없습니다.' % (product))
            
    # end if
    
    if bottle == 0:
        print('%s가 소진 되어서 판매를 중지합니다.' % (product))
        break
    else :
        print('%s 판매 가능 수량 : %d' % (product, bottle))
# while True

 우유 판매 가능 수량 : 5
 단가 : 1000
돈을 넣어 주세요 :2500
개인 컵이 있나요? (있음(1), 없음(0)) :0
우유 2병을 판매를 합니다.
500을 손님에게 거슬러 줍니다.
우유 판매 가능 수량 : 3
돈을 넣어 주세요 :3500
개인 컵이 있나요? (있음(1), 없음(0)) :0
우유 3병을 판매를 합니다.
500을 손님에게 거슬러 줍니다.
우유가 소진 되어서 판매를 중지합니다.

In [ ]:
# 1부터 50까지의 정수와 comprehension을 사용하여 다음을 구해 보세요.
# 3의 배수의 총합과 3의 배수의 아닌 수의 총합을 빼시오
mylist = [item for item in range(1,51)]
A = [idx for idx in mylist if idx %3 == 0 ]
B = [idx for idx in mylist if idx %3 != 0 ]
result = sum(B)- sum(A)
result

In [ ]:
''' # 외따음표 3개
안녕하세요
'''